.container {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: 16px;
}

@media screen and (min-width: 40em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 80em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
  box-sizing: inherit;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 340px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease, transform .1s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  margin: 1em 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5px;
  float: left;
  height: 390px;
  margin: auto;

}

.card>.image {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
  -webkit-box-direction: normal;
  box-sizing: inherit;
  border-radius: .28571429rem .28571429rem 0 0 !important;
  border-top: none !important;
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, .05);
  height: 255px
}

.image>img {
  width: 100%;
  height: auto;
}

.card>.content {
  font-family: sans-serif;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}

.card>.content>.header {
  -webkit-box-direction: normal;
  box-sizing: inherit;
  display: block;
  font-family: Lato,
    'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
  color: rgba(0, 0, 0, .85);
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.card>.content>.meta {
  font-family: sans-serif;
  line-height: 1.4285em;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  font-size: 1em;
  color: rgba(0, 0, 0, .4);
}

.card>.content>.description {
  font-family: sans-serif;
  line-height: 1.4285em;
  -webkit-box-direction: normal;
  font-size: 1em;
  box-sizing: inherit;
  clear: both;
  color: rgba(0, 0, 0, .68);
  margin-top: .5em;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card>.content>.description:hover {
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body {
  min-height: 100vh;
  display: grid;
  grid-gap: 0.2rem;
  place-content: center;
  font-family: sans-serif;
  background-color: #e9f2fd;
  padding: 1rem;
}

.topBar {
  height: 64px;
}

.input {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.input:focus {
  border-color: hsl(var(--input-focus-h),
      var(--input-focus-s),
      var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8);
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

.pagination {
  padding-left: 0
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  background: white;
  border: 1px solid rgba(34, 36, 38, .1);
  cursor: pointer;
  padding: 8px 0px;
}

.pagination li>a {
  padding: 8px 16px;
}

.pagination li.active {
  background: hsla(var(--input-focus-h));
}

.pagination li.disabled {
  background: rgba(34, 36, 38, .1);
  cursor: no-drop;
}

.selectfield {
  float: right;
}

select {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

table {
  background-color: white;
}

table td {
  border: 1px solid var(--input-border);
  padding: 8px;
}

table th {
  background-color: var(--input-border);
  padding: 8px;
}

table,
th,
td {
  border-collapse: collapse;
}